.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.distance-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
